<hr>
<div class="hero-unit geddy-welcome-box">
  <h1>Start your search:</h1>
  <p><input type="text" class="form-control" placeholder="Search colleges, degrees, tech, etc. (i.e. Stanford, Computer Science, Git)" autofocus></p>
</div>
<hr>


<div class="row">
  <div class="col-xs-6 col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title4</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
  </div>

  <div class="col-xs-6 col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title4</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-6">
    <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title4</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
  </div>

  <div class="col-xs-6 col-md-6">
    <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title4</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
  </div>
</div>
